:root {
    --primary-orange: #FAA825;
    --second-orange: #e79a1f;
    --third-orange: #ffb133;
    --primary-grey: #2F2E41;
    --second-grey: #3F3D56;
    --third-grey: #8f8da0;
}

/* Reset */
* {
    box-sizing: border-box;
}

h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Estilos gerais */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */

header {
    border-bottom: 1px solid var(--third-grey);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu {

}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu li {
    padding: 5px;
    margin: 10px 30px;
}

.menu ul li a {
    color: black;
    letter-spacing: .05em;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
}

.menu a:hover {
    color: var(--primary-orange);
}

.btn {
    color: white;
    font-weight: bold;
    font-size: 1.75em;
    padding: 20px 45px;
    background: var(--primary-orange);
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
}

.btn:hover {
    background: var(--third-orange);
}

/* Introdução Home */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;

}
.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}

.intro h1 {
    font-size: 3em;
    font-weight: bold;
    max-width: 470px;
    flex: 1;
    margin-bottom: 30px;
}

.intro h2 {
    color: var(--second-grey);
    font-weight: normal;
    font-size: 2.25em;
}

.btns-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 425px;
    margin-top: 90px;
}

.btns-intro .btn-raw {
    color: black;
    border: 1px solid var(--primary-grey);
    background-color: white;

}

.btns-intro .btn-raw:hover {
    color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    background-color: white;
}

.img-intro {
   flex: 2;
   align-self: flex-end;
   max-width: 800px;
}

.img-intro img {
    width: 100%;
}

.footer {
    margin-top: 110px;
    color: var(--third-grey);
}

