:root {
    --primary-orange: #f9a826; 
    --second-orange: #e79a1f;   
    --third-orange: #ffb53d;
    --primary-grey: #2F2E41;
    --second-grey: #3F3D56;
    --third-grey: #8f8da0;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Gerais */

p {
    font-size: 1.5em;
    line-height: 1.4;
    color: var(--second-grey);
}

.btn {
    color: white;
    background: var(--primary-orange);
    font-size: 1.75em;
    line-height: 1;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: var(--third-orange);
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn + .btn {
    margin-left: 30px;
}

.btn-raw {
    background: transparent;
    color: black;
    border: 1px solid black ;
    
}

.btn-raw:hover {
    background: transparent;
    color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    box-shadow: 5px 5px 3px 0px rgba(249, 168, 38, 0.5);
}

h2 {
    font-size: 1.75em;
    color: var(--second-grey);
    font-weight: bold;
}

h2::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--primary-orange);
}

@keyframes arrow-bottom {
    from {
        bottom: 20px;
    } to {
        bottom: 10px;
    }
}

/* Header */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
    border-bottom: 1px solid var(--third-grey);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: white;
}


.header .menu ul{
    display: flex;
}

.header .menu li + li{
    margin-left: 60px;
}

.header .menu a {
    color: black;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
}

.header .menu a:hover {
    color: var(--primary-orange);
    transition: .1s ease-out;
}


/* Introdução */
.intro {
    grid-area: intro;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title img-intro"
    "title img-intro"
    "btns-intro img-intro"
    ;
    align-items: center;
    padding: 0 200px;
}

/* Título */
.intro .title {
    grid-area: title;
    max-width: 470px;
}

.intro .title h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 30px;
}

.intro span {
    grid-area: espec;
    font-size: 2.25em;
    line-height: 1;
    color: var(--second-grey);
}

/* Botões */
.intro .btns-intro {
    grid-area: btns-intro;
    display: flex;
    align-self: start;
}

/* Imagem Introdução */
.intro .img-intro {
    grid-area: img-intro;
    width: 100%;
}

/* Sobre */

.sobre {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "img-sobre sobre-desc"
    "img-sobre sobre-desc"
    "img-sobre btns-sobre"
    ;
    padding: 100px 200px 60px;
    margin-top: 180px;
    background: rgba(0, 0, 0, 0.02);
}

.sobre-desc {
    grid-area: sobre-desc;
}

.sobre-desc p {
    margin-top: 30px;
}

.btns-sobre {
    grid-area: btns-sobre;
    display: flex;
    align-self: end;
}

.img-sobre {
    grid-area: img-sobre;
}

/* Tecnologias */
.tec {
    padding: 60px 200px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "tools img-tec"
    "tools btns-tec"
    "tools ..."
    ;
    
}

.tools {
    grid-area: tools;
    align-self: end;
}

.tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 370px;
    height: 480px;
    background: rgb(243, 243, 243);
    margin-top: 30px;
    overflow-y: scroll;
    position: relative;
}

.tools-list::after {
    content: '↓';
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--second-grey);
    animation: arrow-bottom .5s ease-in 0s infinite alternate;
}

.tools-list img {
    width: 160px;
}

.img-tec {
    display: block;
    grid-area: img-tec;
}

.btns-tec {
    grid: btns-tec;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-self: end;
}

/* Projetos */
.projects {
    padding: 100px 200px 60px;
    background: rgba(0, 0, 0, 0.02);
}

.projects p {
    margin: 30px 0px 60px 0px;
}

.projects .job-done:nth-child(odd) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "img-project info-project"
    "img-project btns-project"
    ;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 120px;
}

.projects .job-done:nth-child(even) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "info-project img-project"
    "btns-project img-project "
    ;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 120px;
}

.img-project {
    grid-area: img-project;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info-project {
    grid-area: info-project;
    align-self: end;
}

.btns-project {
    grid-area: btns-project;
    display: flex;
    align-items: flex-start;
}

.projects .info {
    text-align: center;
}

.projects .info img {
    margin: 60px auto 0 auto;
}

/* Contato */
.contact {
    padding: 100px 200px 60px;
}

.contact p {
    margin: 20px 0;
}

.contact .container{
    display: grid;
    grid-template-columns: 250px 1fr 500px;
    margin-top: 30px;
}


.contact .visit .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "github linkedin"
    "instagram facebook"
    ;
    max-width: 100px;
    gap: 10px;
    justify-content: center;
}

.contact .visit .social img {
    width: 50px;
    height: 50px;
}

.contact .visit .social .github {
    grid-area: github;
}

.contact .visit .social .linkedin {
    grid-area: linkedin;
}

.contact .visit .social .instagram {
    grid-area: instagram;
}

.contact .visit .social .facebook {
    grid-area: facebook;
}


.contact .mensage img {
    width: 50px;
    height: 50px;
}

.contact > img {
    max-width: 498px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background: var(--primary-grey);
}

.footer > p {
    font-size: 1em;
    color: var(--primary-orange);
}