:root {
    --primary-orange: #f9a826; 
    --second-orange: #e79a1f;   
    --third-orange: #ffb53d;
    --primary-grey: #2F2E41;
    --second-grey: #3F3D56;
    --third-grey: #8f8da0;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Gerais */
.container {
    padding: 0px 200px;
}

p {
    font-size: 1.5em;
    line-height: 1.4;
    color: var(--second-grey);
}

.btn {
    color: white;
    background: var(--primary-orange);
    font-size: 1.75em;
    line-height: 1;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 7px 7px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: var(--third-orange);
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn + .btn {
    margin-left: 30px;
}

.btn-raw {
    background: transparent;
    color: black;
    border: 1px solid black ;
    
}

.btn-raw:hover {
    background: transparent;
    color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    box-shadow: 5px 5px 3px 0px rgba(249, 168, 38, 0.5);
}

h2 {
    font-size: 1.75em;
    color: var(--second-grey);
    font-weight: bold;
}

h2::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--primary-orange);
}

@keyframes arrow-bottom {
    from {
        bottom: 20px;
    } to {
        bottom: 10px;
    }
}

@keyframes arrow-right {
    from {
        right: 20px;
    } to {
        right: 10px;
    }
}

/* Header */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid var(--third-grey);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: white;
}


.header .menu ul{
    display: flex;
}

.header .menu li + li{
    margin-left: 60px;
}

.header .menu a {
    color: black;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
}

.header .menu a:hover {
    color: var(--primary-orange);
    transition: .1s ease-out;
}


/* Introdução */
.intro {
    /* margin-top: 120px; */
    padding-top: 120px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(400px, 1fr);
    column-gap: 30px;
    grid-template-areas: 
    "title img-intro"
    "btns-intro img-intro"
    ;
    align-items: center;
}


/* Título */
.intro .title {
    grid-area: title;
    max-width: 470px;
}

.intro .title h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 30px;
}

.intro span {
    grid-area: espec;
    font-size: 2.25em;
    line-height: 1;
    color: var(--second-grey);
}

/* Botões */
.intro .btns-intro {
    grid-area: btns-intro;
    display: flex;
    align-self: start;
    margin-top: 30px;
}

/* Imagem Introdução */
.intro .img-intro {
    grid-area: img-intro;
    align-self: start;
}

/* Sobre */

.sobre {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "img-sobre sobre-desc"
    "img-sobre btns-sobre"
    "img-sobre btns-sobre"
    ;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 180px;
    background: rgba(0, 0, 0, 0.02);
}

.sobre-desc {
    grid-area: sobre-desc;
}

.sobre-desc p {
    margin-top: 30px;
}

.btns-sobre {
    grid-area: btns-sobre;
    display: flex;
    align-self: end;
    justify-self: end;
}

.img-sobre {
    grid-area: img-sobre;
    align-self: center;
}

/* Tecnologias */
.tec {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 40% minmax(350px, 700px);
    column-gap: 30px;
    grid-template-areas: 
    "tools img-tec"
    "tools btns-tec"
    "tools ..."
    ;
}

.tools {
    grid-area: tools;
}

.tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 370px;
    height: 480px;
    background: rgb(243, 243, 243);
    margin-top: 30px;
    overflow-y: auto;
    position: relative;
}

.tools-list::after {
    content: '↓';
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--second-grey);
    animation: arrow-bottom .5s ease-in 0s infinite alternate;
}

.tools-list img {
    width: 160px;
}

.img-tec {
    display: block;
    grid-area: img-tec;
}

.btns-tec {
    grid-area: btns-tec;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-self: end;
}

/* Projetos */
.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.02);
}

.projects p {
    margin: 30px 0px 60px;
}

.projects .job-done p {
    margin: 0px;
}

.job-done .info-project a:hover {
    color: var(--primary-orange);
}

.projects .job-done:nth-child(odd) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "img-project info-project"
    "img-project btns-project"
    ;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;
}

.projects .job-done:nth-child(even) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "info-project img-project"
    "btns-project img-project "
    ;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;
}

.img-project {
    grid-area: img-project;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-self: center;
    min-width: 310px;
}

.info-project {
    grid-area: info-project;
    align-self: end;
}

.btns-project {
    grid-area: btns-project;
    display: flex;
    align-items: flex-start;
}

.projects .info {
    text-align: center;
}

.projects .info img {
    margin: 60px auto 0 auto;
}

/* Contato */
.contact {
    padding-top: 82px;
    padding-bottom: 100px;
}

.contact p {
    margin: 20px 0;
}

.contact .container-contact{
    display: grid;
    grid-template-columns: 120px 1fr minmax(320px, 2fr);
    column-gap: 30px;
    margin-top: 30px;
    align-items: start;
}


.contact .visit .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "github linkedin"
    "instagram facebook"
    ;
    max-width: 100px;
    gap: 10px;
    justify-content: center;
}

.contact .visit .social img {
    width: 50px;
    height: 50px;
}

.contact .visit .social .github {
    grid-area: github;
}

.contact .visit .social .linkedin {
    grid-area: linkedin;
}

.contact .visit .social .instagram {
    grid-area: instagram;
}

.contact .visit .social .facebook {
    grid-area: facebook;
}


.contact .mensage img {
    width: 50px;
    height: 50px;
}

.container-contact > img {
    width: 100%;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background: var(--primary-grey);
}

.footer > p {
    font-size: 1em;
    color: var(--primary-orange);
}

.footer img {
    margin-left: 10px;
}

@media (max-width: 1260px) {
    .container {
        padding: 10px 100px;
    }

    .sobre, .projects, .contact {
        padding-top: 100px;
    }
}


@media (max-width: 1110px){
    .intro .btns-intro {
        margin-right: 60px;
        margin-top: 60px;
    }

    .btn p { 
        font-size: 1em;
    }

    .intro .img-intro {
        align-self: start;
    }

    .sobre {
        grid-template-columns: minmax(auto-fill, 1fr) minmax(auto-fill, 2fr);
        grid-template-areas: 
        "img-sobre sobre-desc"
        "btns-sobre btns-sobre"
        ;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-top: 180px;
        background: rgba(0, 0, 0, 0.02);
    }

    .btns-sobre {
        justify-self: center;
    }

    .tec {
        grid-template-columns: minmax(auto-fill, 1fr) minmax(auto-fill, 1fr);
    }

    .tools-list {
        width: 230px;
        height: 280px;
    }

    .tools-list::after {    
        right: 2px;
    }

    .tools-list img {
        width: 100px;
    }

}

@media (max-width: 960px) {
    .container {
        padding: 10px 50px;
    }
    .sobre {
        grid-template-columns: minmax(auto-fill, 1fr) minmax(auto-fill, 2fr);
        grid-template-areas: 
        "img-sobre sobre-desc"
        "btns-sobre sobre-desc"
        "btns-sobre sobre-desc "
        ;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-top: 180px;
        background: rgba(0, 0, 0, 0.02);
    }
    .btns-sobre {
        align-self: end;
        justify-self: end;
    }

    .projects {
        padding-top: 100px;
    }

    .contact {
        padding-top: 90px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 10px 20px;
    }

    .sobre {
        padding-top: 100px;
    }

    .projects {
        padding-top: 100px;
    }

    .btns-project {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .btns-project a:nth-child(even) {
        margin-top: 15px;
        margin-left: 0px;
    }

    .contact {
        padding-top: 90px;
    }

    .contact .container-contact{
        grid-template-columns: 170px 350px;
        grid-template-areas: 
        "visit mensage"
        "img-contact img-contact"
        ;
        justify-content: center;
    }

    .img-contact {
        grid-area: img-contact;
        justify-self: center;
        margin-top: 30px;
    }
}

@media (max-width: 760px) {
    .intro {
        column-gap: 0;
        margin-top: 80px;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
        grid-template-areas: 
            "title img-intro"
            "btns-intro btns-intro"
        ;
    }

    .intro .img-intro {
        align-self: end;
    }

    .intro .btns-intro {
        align-self: center;
        justify-self: center;
        margin-top: 60px;
        margin-right: 0;
    }

    .sobre {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "sobre-desc"
        "img-sobre"
        "btns-sobre"
        ;
        padding-top: 90px;
    }

    .btns-sobre {
        justify-self: center;
    }

    .tec {
        grid-template-columns: minmax(auto-fill, 1fr) minmax(auto-fill, 1fr);
        grid-template-areas: 
        "tools img-tec"
        "btns-tec btns-tec"
        ;
        row-gap: 30px;
    }

    .img-tec {
        align-self: center;
    }

    .btns-tec {
        margin-top: 0;
        justify-self: center;
    }

    .projects {
        padding-top: 90px;
    }

    .projects .job-done:nth-child(odd) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "info-project"
        "img-project"
        "btns-project"
        ;
    }
    
    .projects .job-done:nth-child(even) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "info-project"
        "img-project"
        "btns-project"
        ;
    }

    .btns-project {
        justify-self: center;
    }

    .btns-project a:nth-child(even) {
        margin-top: 0px;
        margin-left: 15px;
    }

    .contact {
        padding-top: 90px;
    }

}

@media (max-width: 680px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "img-intro"
            "btns-intro"
        ;
    }

    .tec {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "tools"
        "img-tec"
        "btns-tec"
        ;
    }

    .tools-list {
        width: 100%;
        height: 200px;
        overflow-y: auto;
        /* overflow-x: scroll; */
        position: relative;
        align-content: flex-start;
    }
    
    /* .tools-list::after {
        content: '→';
        position: absolute;
        right: 10px;
        top: 2px;
        color: var(--second-grey);
        animation: arrow-right .5s ease-in 0s infinite alternate;
    } */

    .contact {
        padding-top: 90px;
    }

}

@media (max-width: 560px) {
    .intro .title h1 {
        font-size: 2em;
    }

    .intro span {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.25em;
    }

    .header .menu li + li{
        margin-left: 20px;
    }

    .sobre {
        margin-top: 60px;
    }

    .contact .container-contact{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "visit"
        "mensage"
        "img-contact"
        ;
        justify-items: center;
    }

    .contact .container-contact p {
        text-align: center;
    }

    .contact .container-contact img {
        margin: 0 auto;
    }

}

@media (max-width: 490px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header .menu li + li{
        margin-left: 10px;
    }

    .header img {
        max-width: 50px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 1em;
        padding: 15px 30px;
    }

    .btn + .btn {
        margin-left: 10px;
    }

    .title {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    p {
        font-size: 1em;
        line-height: 1.4;
        color: var(--second-grey);
    }

    .sobre {
        margin-top: 60px;
    }

    .projects .job-done:nth-child(odd) {
        margin-bottom: 60px;
    }
    
    .projects .job-done:nth-child(even) {
        margin-bottom: 60px;
    }

    .contact {
        padding-top: 90px;
    }
}
